img { max-width: 100%; }
.inner { max-width: 1200px; width: 100%; margin:0 auto; }
.main {
  .inner { display: flex; justify-content: space-between; }
  .box { text-align: center; padding: 10px; }
}

.btn-area { 

  button { 
    width: 33.3333%; border:0; line-height: 50px; transition: 0.3s; cursor: pointer; 
    &:hover { background-color: #FFF; }
    &:not(:last-child) { border-right: 1px solid #CCC; }
  }
  
}


